/*
 * Variables for brand colors
 */
:root {
  --rw-text: #CAD2C5;
  --rw-background: #2F3E46;
  --rw-primary: #84A98C;
  --rw-secondary: #52796F;
  --rw-accent: #354F52;
}

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--rw-background);
  background-color: var(--rw-text) !important;
  text-shadow: none; /* Prevent inheritance from `body` */
  border-color: var(--rw-text) !important;
}

.btn-primary {
  color: var(--rw-text);
  background-color: var(--rw-primary) !important;
  border-color: var(--rw-primary) !important;
}

/*
 * Base structure
 */

body {
  color: var(--rw-text);
  background-color: var(--rw-background) !important;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .3);
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(202, 210, 197, .7); /* Using rw-text with opacity */
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--rw-secondary);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: var(--rw-text);
  border-bottom-color: var(--rw-primary);
}

/* Additional brand styling */
h1, h3 {
  color: var(--rw-primary);
}

footer {
  color: var(--rw-secondary) !important;
}

.text-white {
  color: var(--rw-text) !important;
}

.text-white-50 {
  color: rgba(202, 210, 197, .5) !important;
}

a.btn-secondary:hover {
  background-color: var(--rw-secondary) !important;
  color: var(--rw-text);
  border-color: var(--rw-secondary) !important;
}

 /*
  * Card styling
  */
 .card {
   background-color: rgba(53, 79, 82, 0.7); /* var(--rw-accent) with transparency */
   border: 1px solid var(--rw-secondary);
   color: var(--rw-text);
   margin: 24px auto; /* Center the card */
 }

 .card-title {
   color: var(--rw-primary);
 }

 .card .card-text {
   color: var(--rw-text);
 }